{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat con RASA</title>
</head>

<body>

    <div class="return-home">
        <a href="/" class="btn-primary">Torna alla Home</a>
    </div>

    <div class="chat-header">
        <h1>ISTITUTO OMNICOMPRENSIVO DI CAMPOMARINO</h1>
        <p class="subtitle">Parla con LIA - Chatbot di intelligenza artificiale - Per saperne di più su di noi</p>
    </div>

    <div class="chat-container">
        <div id="chat-box">
            <!-- Qui appariranno i messaggi -->
        </div>

        <div class="chat-input-section">
            <textarea id="user-input"></textarea>
            <button onclick="sendMessage()" class="btn-primary">Invia</button>
        </div>
    </div>

    <script>
        function sendMessage() {
            var userInputElem = document.getElementById("user-input");
            var userInput = userInputElem.value;

            // Aggiungi il messaggio dell'utente al box della chat
            var chatBox = document.getElementById("chat-box");
            var userMessageElem = document.createElement("p");
            userMessageElem.textContent = "Tu: " + userInput;
            chatBox.appendChild(userMessageElem);

            // Chiamata AJAX alla tua vista Django per ottenere una risposta dal bot RASA
            fetch("/rasa/api/chatbot/", {
                method: "POST",
                body: new URLSearchParams({
                    "message": userInput
                }),
                headers: {
                "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    var newMessage = document.createElement("p");
                    newMessage.innerHTML = "Bot: " + data.message;
                    chatBox.appendChild(newMessage);

                    // Svuota il campo di testo
                    userInputElem.value = "";
                } else {
                    console.error("Errore nella risposta del bot:", data.error);
                }
            })
            .catch(error => console.error("Errore nella chiamata AJAX:", error));
        }

        // Permetti l'invio del messaggio premendo il tasto 'Invio'
        var textArea = document.getElementById("user-input");
        textArea.addEventListener('keydown', function(e) {
            if (e.keyCode === 13 && !e.shiftKey) {
                e.preventDefault();
                sendMessage();
            }
        });
    </script>

</body>
</html>

